/* Обнуляющие стили */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  /* outline: none;  */
}

a:focus,
a:active {
  /* outline: none; */
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  /* text-rendering: optimizeLegibility; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Обнуление, бордеры и отступы у ячеек таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
  boder: 0;
}

table td {
  padding: 0;
  margin: 0;
}

/* Обнуляющие стили End */

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-image: url('../img/bg.jpg');
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding: 55px 0;
  height: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding: 10px 25px;
  background: #fff;
  border-radius: 5px;
}


/* Стили модального окна */
.popup {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 500000;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

.popup::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.3s ease 0.2s;
}

.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
}

.popup__body {
  max-width: 800px;
  width: 100%;
  background: #EBEFE2;
  transform: scale(0);
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.popup__close {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  z-index: 30;
  width: 20px;
  height: 20px;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.popup__item {
  display: flex;
}

.popup__img {
  flex: 0 1 35%;
}

.popup__descp {
  flex: 0 1 65%;
  padding: 35px;
}

.popup__form-line {
  display: flex;
  flex-wrap: wrap;
}

.popup__title {
  font-size: 36px;
  margin-bottom: 15px;
}

.popup__notific {
  margin-bottom: 35px;
}

.popup__form-input {
  flex: 0 1 100%;
  height: 45px;
  padding: 0 15px;
  background: #F6F8F1;
  border: 1px solid #737373;
  border-radius: 5px;
  margin-bottom: 15px;
}

.popup__policy {
  margin-bottom: 25px;
}

.popup__policy a {
  color: #000;
}

.popup__form-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  min-width: 200px;
  padding: 8px 25px;
  color: #1f1f1f;
  background: #fed529;
}